# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# VS Code settings
.vscode/

# Python bytecode cache
*.pyc

# Local environment files
.env
*.env

# macOS / Windows OS files
.DS_Store
Thumbs.db
