autogen
boto3
cohere
faiss_cpu
fastapi
Flask
flask_cors
langchain
langchain_cohere
langchain_community
langchain_core
langchain_openai
matplotlib
numpy
pandas
python-dotenv
Requests
SQLAlchemy
uvicorn[standard]
